################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LoginFormTest/LoginFormTest/obj/Debug
/LoginFormTest/.vs/LoginFormTest
/LoginFormTest/LoginFormTest.sln.DotSettings.user
/LoginFormTest/LoginFormTest/bin/Debug/App_Data
